@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ----------------------------------------------- */
/* REUTILIZABILE */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/* ----- HEADINGS ----- */



h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h1:nth-child(2) {
	text-transform:capitalize;
	color:#2980b9;
}

h2 {
	color:white;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.parere h2 {
	margin-bottom:70px;
}

h3 {
	color:white;
	font-size: 110%;
	letter-spacing: 3px; 
	word-spacing: 2px;
	margin-bottom:5px;
}

/* ----- TABEL ----- */

table,th,td {
	border : 2px solid black;
 	border-collapse: collapse;
}
th,td {
 	padding: 5px;
}

/* ----- PARAGRAFE ----- */

.long-copy {
	color:white;
	line-height: 30px;
	width: 70%;
	margin-left:17%;
	margin-top: 5%;
	margin-bottom: 8%;
}

footer p{
	color:white;
	margin: 20px;
	text-align: center;
}

/* ----- ICONITE ----- */

.icon-big {
	font-size:400%;
	display:block;
	color:#2980b9;
}

/* ----- BUTOANE ----- */

button {
	color:black;
}

.btn:link,
.btn:visited,
input[type=submit] {
	display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit]:hover,
input[type=submit]:active {
	border-color:transparent;
	background-color:#2ecc71;
}

.btn:hover,
.btn:active {
	background-color:#2ecc71;
}

.btn-full:link,
.btn-full:visited {
	background-color: #2980b9;
	color:white;
	margin-right:20px;
}

.btn-full:hover,
.btn-full:active {
	background-color:#2ecc71;
}

.btn-ghost:link,
.btn-ghost:visited{
	border: 1px solid #2980b9;
	color:#2980b9;
}

.btn-ghost:hover,
.btn-ghost:active {
	border:1px solid #2ecc71;
	color:white;
}




/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,1)), url(../img/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero-text-box {
	position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
}

.logo {
	height:100px;
	width:auto;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
    color:#e67e22;
}

/* Main navi */	

.main-nav {
	float:right; 
	list-style: none;
	margin-top:60px;
}

.main-nav li {
	display:inline-block;
	margin-left:40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: white;
	text-decoration: none;
	text-transform: uppercase;	
	font-size: 90%;
	border-bottom:2px solid transparent;
	transition: border-bottom 0.2s, color 0.2s;
	letter-spacing: 1px;
	word-spacing: 2px;
}

.main-nav li a:hover,
.main-nav li a:active {
	color: #e67e22;
	text-decoration: none;
	text-transform: uppercase; 
	font-size: 90%;
	border-bottom:2px solid #e67e22;
}

/* MOOOBIIIILEEEEE naviiiii */	

.mobile-nav-icon {
	float:right;
	margin-top:30px;
	cursor: crosshair;
	display:none;
}

.mobile-nav-icon i {
	font-size:200%;
	color:white;
}

/* Stickyyyyy naviiiii */	

.sticky {
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color:#2f3640;
	box-shadow: 0 3px 3px #353b48;
	z-index:9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
	padding: 17px 0;
	color: white;
}

.sticky .main-nav {
	margin-top:20px;	
}

.sticky .logo {
	height:50px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}

/* ----------------------------------------------- */
/* PRIMA SECTIE */
/* ----------------------------------------------- */

.prima-sectie p {
	padding-top: 15px;
	color:white;	
}

.prima-sectie {
	background:linear-gradient(rgba(0,0,0,1), rgba(44, 62, 80,1.0));
}

/* ----------------------------------------------- */
/* JSON AJAX*/
/* ----------------------------------------------- */

.json-ajax-js-canvas {
	background:linear-gradient(rgba(44, 62, 80,1.0), rgba(0,0,0,1));
	font-size:80%;
	color:white;
	
}

p {
	color:white;	
}

canvas {
	background-color:red;
}



/* ----------------------------------------------- */
/* PARERE */
/* ----------------------------------------------- */

.parere {
	background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/second-section.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-size:80%;
}

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border-color: #2980b9;
	background-color:#C1B0B0;
}
	
label {
	color:white;
	border-bottom: 3px solid #2980b9;
	border-left: 3px solid #2980b9;
	border-radius: 7px;
}

*:focus {
	outline:none;
}

/* ----------------------------------------------- */
/* VIDEO */
/* ----------------------------------------------- */

.video{
	background:linear-gradient(rgba(52, 73, 94,1.0),rgba(52, 152, 219,1.0));
}

iframe {
	margin-top:30px;
	width: 500px;
	height: 300px;
	border: 0;
}

/* ----------------------------------------------- */
/* NOTE DE SUBSOL */
/* ----------------------------------------------- */

footer {
	background:linear-gradient(rgba(52, 152, 219,1.0),rgba(44, 62, 80,1.0));
}

.social-nav {
	list-style: none;
	text-align: center;
}

.social-nav li {
	display: inline-block;
	margin-top:15px;
	margin-left:7px;
	margin-right:7px;
}

.social-nav li a:visited,
.social-nav li a:link{
	color: white;
	text-decoration: none;
	font-size: 60%;
	transition: color 0.5s;
}


.ion-logo-android:hover {	
	color:limegreen;
}

.ion-logo-facebook:hover {
	color:#3b5998;
}

.ion-logo-twitter:hover {
	color:#55acee;
}

.ion-logo-instagram:hover {
	color:#e95950;
}

.ion-logo-apple:hover{
	color:lightpink;
}